<li class="dropdown__item list__item">
    <!-- item small 2 -->
    <div class="item-small-1">
        <!-- item data -->
        <div class="item-small-1__data">
            <!-- title -->
            <a href="" class="item-small-1__title">${{product.name}}</a>
            <!-- price -->
            <span class="item-small-1__description">
                1 X $${{product.price}}
            </span>
        </div>
        <!-- item image -->
        <div class="item-small-1__image-box">
            <a href="#" class="item-small-1__image image" style="background-image: url('{{product.imageUrl}}')">
            </a>
            <a href="#" class="item-small-1__action">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
</li>